#products-tbl { 
	border-collapse: collapse; 
	margin-bottom: 40px
}

#products-tbl tr,
#products-tbl td,
#products-tbl th {
	border: 1px solid black;
	padding: 10px;
}

/* Chrome, Safari, Edge, Opera remove arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove arrows in number input */
input[type=number] {
  -moz-appearance: textfield;
}

#content {

	
}