#nav-1 {
    display: flex;
    background-color: #d8e2dc65;
	padding: 1em 0em;
    justify-content: flex-end;
    align-items: center;
}
#nav-1 a {
    text-decoration: none;
    color:#004349;
    margin: 0px 0.2em;
    margin-right: 1em;
}

#nav-1 a:hover {
    color: #006d77;
}
#products-tbl { 
	border-collapse: collapse; 
	margin-bottom: 40px;
	width: 90vw;
}

#products-tbl tr,
#products-tbl td,
 #products-tbl th {
	/* border: 1px solid black; */
	padding: 10px;
} 

/* Chrome, Safari, Edge, Opera remove arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove arrows in number input */
input[type=number] {
  -moz-appearance: textfield;
}


/* USERS */
#content {
	display: flex;
	margin: 20px 40px;
	border: solid 3px #006d77;
	padding: 20px;
	
}

h2 {
	color: #006d77;
	/* font-family: old goodie style; */
}


tr:nth-child(even) {
	background: #d8e2dc65
}

tr:nth-child(odd) {
	background: #FFF
}

#lista {
	background-color: #ffcad495;
}


/* ADD NEW USER */
#addNewUser {
	display: flex;
	margin: 20px 40px;
	border: solid 3px #006d77;
	 padding: 20px; 
    align-items: left;
    flex-direction: column;
	

}

#addNewUserBtn{
	color: black;
}
/* UPDATE NEW USER */

#content-updateUser {
	display: flex;
	margin: 20px 200px 20px 20px;
	border: solid 3px #006d77;
	padding: 20px;
	align-items: left;
    flex-direction: column;
}

/* PRODUCT ADMIN INDEX */
#content-products {
	display: flex;
	margin: 20px 200px 20px 20px;
	/* border: solid 3px #006d77; */
	padding: 20px;
	align-items: left;
    flex-direction: column;

}

tr:nth-child(even) {
	background: #d8e2dc65
}

tr:nth-child(odd) {
	background: #FFF
}

#product-list {
	background-color: #ffcad495;

}