#header-container {
    height: 40vh;
}
#nav-1 {
    display: flex;
    background-color: #ffcad495;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
}
#nav-1 a {
    text-decoration: none;
    color: #4f4b54;
    margin: 0px 0.2em;
}
#nav-1 a:hover {
    color: #6d6875;
}

#logo-con {
    display: flex;
    /* background-image: url(../img/kiki-siepel-BEwxLSN_bKU-unsplash.jpg); */
    /* background-position: center; */
    height: 25vh;
    justify-content: center;
    align-items: center;
}


#nav-2 {
    display: flex;
    background-color: #d8e2dc;
    height: 10vh;
    align-items: center;
}

#nav-2 a, #backto-a {
    text-decoration: none;
    color: #004349;
    margin: 0px 0.5em;
}
#nav-2 a:hover, #backto-a:hover {
    color: #006d77;
}


#homepage-con {
    height: 100%;
}

#front-info {
    display: flex;
    background-color: #d8e2dc65;
    height: 40vh;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#front-info h2, p {
    color: #004349;
}

#shop-con {
    display: grid;
    width: auto;
    /* margin-left: 100px;
    margin-right: 100px; */
    padding: 60px 0px;
    /* border: lightgrey solid 2px; */
    height: 100%;
    gap: 20px 15px;    
    justify-items: center;
    /* align-items: center; */

}
#single-con {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
    background-color: #d8e2dc65;
    width: 18em;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

#single {
    justify-items: center;

}

button {
    /* border: none; */
}



#product-img {
width: 150px;
height: 150px;
   }


#title {
    padding: 0em 2em;
    margin: 0;
    /* background-color: #004349; */
    color: #004349;
}

#product-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50em;

}

#img-desc{
    flex-direction: column;
    margin-top: 2em;

}

#img-con {
    border: #004349 solid 1px;
    margin: auto;

}
#about-con {
    display: flex;
    flex-direction: column;
    border: #004349 solid 1px;
    /* margin: auto; */
    align-items: center;
    height: 30em;
    width: 20em;

}
h4 {
    margin-top: 5em;
}

#buy-sec {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

/* Chrome, Safari, Edge, Opera remove arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove arrows in number input */
input[type=number] {
  -moz-appearance: textfield;
}

#searchDiv {
    text-align: center;
}

@media (min-width: 600px) {
    #shop-con { 
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    #shop-con { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    #shop-con { grid-template-columns: repeat(4, 1fr); }
}


