#header-container {
    height: 40vh;
}
#nav-1 {
    display: flex;
    background-color: #ffcad495;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
}
#nav-1 a {
    text-decoration: none;
    color: #4f4b54;
    margin: 0px 0.2em;
}
#nav-1 a:hover {
    color: #6d6875;
}

#logo-con {
    display: flex;
    background-color: white;
    height: 25vh;
    justify-content: center;
    align-items: center;
}


#nav-2 {
    display: flex;
    background-color: #d8e2dc;
    height: 10vh;
    align-items: center;
}

#nav-2 a, #backto-a {
    text-decoration: none;
    color: #004349;
    margin: 0px 1em;
}
#nav-2 a:hover, #backto-a:hover {
    color: #006d77;
}


#homepage-con {
    height: 100%;
}

#front-info {
    display: flex;
    background-color: #d8e2dc65;
    height: 40vh;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#front-info h2, p {
    color: #004349;
}

#shop-con {
    flex-wrap: wrap;
    display: flex;
    border: lightgrey solid 2px;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    /* align-items: center; */
    justify-content: center;

}
#single-con {
    display: flex;
    /* flex: 1 20%; */
    padding: 0 1.5em;
    background-color: beige;
    /* margin: 0 auto; */
    margin: 0.5em 1em;
    width: 20em;
    height: 20em;
    justify-content: center;
}


#single {
    align-self: center;
    /* margin-top: auto; */
}

#title {
    padding: 2em 2em;
    margin: 0;
    background-color: #004349;
    color: #d8e2dc;
}

#product-con {
    display: flex;
    padding: 4em 0;
}

#img-con {
    border: #004349 solid 1px;
    margin: auto;

}
#about-con {
    display: flex;
    flex-direction: column;
    border: #004349 solid 1px;
    margin: auto;
    height: 30em;
    width: 20em;
    justify-content: center;

}
#buy-sec {
    display: flex;
    justify-content: space-evenly;
}